{% extends "base.html" %}
{% block title %}BookSearch{% endblock %}
{% block content %}
    <h1>Search</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.Title.label }}<br>
            {{ form.Title(size = 60) }}
        </p>
        <p>
            {{ form.FirstAuthor.label }}<br>
            {{ form.FirstAuthor }}
        </p>
        <p>
            {{ form.Publisher.label }}<br>
            {{ form.Publisher }}
        </p>
        <p>
            {{ form.PublicationYear.label }}<br>
            {{ form.PublicationYear(size=4) }}
        </p>
        <p>
            {{ form.BookType.label }}<br>
            {{ form.BookType(size=4) }}
        </p>
        <p>
            {{ form.Fiction.label }}<br>
            {{ form.Fiction }}
        </p>
        <p>{{ form.Submit() }}</p>
    </form>
{% endblock %}