{% extends "base.html" %}
{% block title %}Books{% endblock %}
{% block content %}
    <h1>Add Book</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.LibraryId.label }}<br>
            {{ form.LibraryId(size=200) }}
            <span style="color: red;">[{{ error }}]</span>
        </p>
        <p>
            {{ form.Title.label }}<br>
            {{ form.Title(size=60) }}
            <span style="color: red;">[{{ error }}]</span>
        </p>
        <p>
            {{ form.FirstAuthor.label }}<br>
            {{ form.FirstAuthor }}
        </p>
        <p>
            {{ form.SubsequentAuthors.label }}<br>
            {{ form.SubsequentAuthors(size=200) }}
        </p>
        <p>
            {{ form.Publisher.label }}<br>
            {{ form.Publisher }}
        </p>
        <p>
            {{ form.PublicationYear.label }}<br>
            {{ form.PublicationYear(size=4) }}
            <span style="color: red;">[{{ error }}]</span>
        </p>
        <p>
            {{ form.BookType.label }}<br>
            {{ form.BookType(size=4) }}
        </p>
        <p>
            {{ form.Fiction.label }}<br>
            {{ form.Fiction }}
        </p>
        <p>{{ form.Submit() }}</p>
    </form>
{% endblock %}